.career {
    &__list {
        display: grid;
        gap: 16px;
        grid-template-columns: 500px 1fr 320px;
        grid-template-rows: 80px 120px 1fr;
        grid-template-areas:
            "balance income-type turnover-goal"
            "balance income-type turover-goal"
            "referal info info";
        overflow: hidden;
        @media screen and (min-width: 768px) and (max-width: 1439.98px) {
            grid-template-columns: 1fr 1fr 320px;
            grid-template-rows: 1fr 1fr 1fr 1fr;
            grid-template-areas:
                "balance balance balance"
                "income-type income-type turnover-goal"
                "referal referal referal"
                "info info info";
            overflow-y: scroll;
        }
        @media screen and (max-width: 767.98px) {
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
            grid-template-areas:
                "balance balance balance"
                "income-type income-type income-type"
                "turnover-goal turnover-goal turnover-goal"
                "referal referal referal"
                "info info info";
            overflow-y: scroll;
        }
    }
    &__item {
        &--balance {
            grid-area: balance;
            padding: 24px;
            display: flex;
            flex-direction: column;
            gap: 24px;
            background-color: white;
        }
        &--income-type {
            grid-area: income-type;
            display: flex;
            flex-direction: column;
            gap: 16px;
        }
        &--turnover-goal {
            grid-area: turnover-goal;
        }
        &--referal {
            grid-area: referal;
        }
        &--info {
            grid-area: info;
        }
    }
    &__header {
        &--row {
            display: flex;
            align-items: center;
            gap: 8px;
        }
        &--history {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            gap: 24px;
        }
    }
    &__title {
        font-size: calc(24px + (48 - 24) * ((100vw - 320px) / (1440 - 320)));
    }
    &__balance {
        width: 100%;
        display: flex;
        position: relative;
        &--column {
            flex-direction: column;
            gap: 16px;
        }
        &--mobile {
            display: none;
            @media screen and (max-width: 767.98px) {
                display: flex;
                margin-top: 20px;
            }
        }
        @media screen and (min-width: 768px) and (max-width: 1439.98px) {
            width: auto;
            justify-content: space-between;
        }
    }
    &__wrap {
        width: 100%;
        display: flex;
        position: relative;
        &--column {
            flex-direction: column;
            gap: 9px;
        }
        &--row {
            flex-direction: row;
            align-items: flex-end;
            gap: 16px;
        }
    }
    &__trigger {
        padding: 10px;
        border: none;
    }
    &__tooltip {
        &--profit {
            display: flex;
            align-items: center;
            gap: 4px;
        }
    }
    &__income-type {
        &--header {
            padding: 24px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 24px;
            background-color: white;
        }
        &--footer {
            height: 100%;
            padding: 24px;
            display: flex;
            flex-direction: column;
            gap: 24px;
            background-color: white;
        }
        &--line {
            display: flex;
            align-items: center;
            gap: 3px;
            & span {
                width: 100%;
                height: 24px;
                flex: 1 1 calc(100% / 10 - 3px);
                &.color {
                    background-color: var(--accident-primary);
                }
                &.decolor {
                    background-color: var(--accident-primary-opacity);
                }
            }
        }
    }
    &__turngoal {
        display: flex;
        flex-direction: column;
        &--header {
            padding: 7px;
            display: flex;
            align-items: center;
            gap: 24px;
            background-color: white;
            & button.btn {
                opacity: 0.5;
                position: relative;
                &.active {
                    opacity: 1;
                    &::before {
                        content: "•";
                        width: 3px;
                        height: 3px;
                        position: absolute;
                        top: 30px;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
            }
        }
        &--footer {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 24px;
            background-color: white;
        }
        &--round-process {
            width: 100px;
            height: 100px;
        }
        &--line-process {
            width: 100%;
            height: 20px;
        }
    }
    &__turngoal-info {
        &--turnover {
            display: flex;
            flex-direction: column;
            gap: 12px;
            & p.desc {
                display: flex;
                align-items: center;
                gap: 6px;
            }
        }
        &--goal {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 12px;
            & p.desc {
                display: flex;
                align-items: center;
                gap: 6px;
            }
        }
    }
    &__turngoal-wrap {
        &--turnover {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 24px;
        }
        &--goal {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 12px;
        }
        &.hide {
            display: none;
        }
    }
    &__turngoal-form {
        width: 100%;
        display: flex;
        justify-content: center;
        & .btn {
            text-decoration: underline;
        }
    }
    &__referal {
        display: flex;
        flex-direction: column;
        background-color: white;
        &--header {
            padding: 24px 24px 16px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 24px;
        }
        &--form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 16px;
        }
        &--wrap {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 16px;
            @media screen and (min-width: 768px) and (max-width: 1439.98px) {
                flex-direction: row;
            }
            @media screen and (max-width: 767.98px) {
                flex-direction: row;
            }
            @media screen and (max-width: 463.98px) {
                flex-direction: column;
            }
        }
        &--wrap-column {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 16px;
        }
        &--footer {
            padding: 0 24px 24px;
            display: flex;
            flex-direction: column;
            gap: 16px;
        }
        &--info {
            width: 100%;
            padding: 16px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 24px;
            background-color: var(--light-primary);
        }
    }
    &__info {
        display: flex;
        flex-direction: column;
        background-color: white;
        &--header {
            padding: 24px 24px 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 16px;
        }
        &--footer {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            padding: 24px;
            gap: 24px;
        }
        &--lvl {
            display: flex;
            align-items: center;
        }
        &--btn {
            padding: 12px 24px;
            background-color: var(--light-primary);
            white-space: nowrap;
        }
        &--wrap-column {
            display: flex;
            flex-direction: column;
            gap: 6px;
        }
        &--wrap-row {
            display: flex;
            align-items: center;
            gap: 6px;
        }
        &--right {
            justify-content: flex-end;
            text-align: right;
        }
        &--form {
            display: flex;
            align-items: center;
            & .btn {
                padding: 12px 24px;
            }
            &.hide {
                display: none;
            }
        }
        &--summary {
            max-width: 200px;
            padding: 12px 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--light-primary);
            white-space: nowrap;
        }
        & picture.img {
            @media screen and (min-width: 1440px) {
                width: auto;
                height: 100%;
                max-height: 375px;
                & img {
                    object-fit: contain;
                }
            }
        }
    }
}
