.ig-future {
    &__list {
        width: 100%;
        height: 100%;
        display: grid;
        gap: 16px;
        grid-template-columns: 500px 1fr;
        grid-template-rows: 290px 1fr;
        grid-template-areas:
            "balance cards"
            "active-products active-products";
        @media screen and (min-width: 768px) and (max-width: 1439.98px) {
            height: auto;
            overflow-y: scroll;
            grid-template-columns: 100%;
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-areas:
                "balance"
                "cards"
                "active-products";
        }
        @media screen and (max-width: 767.98px) {
            height: auto;
            overflow-y: scroll;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-areas:
                "balance"
                "cards"
                "active-products";
        }
    }
    &__item {
        width: 100%;
        padding: 24px;
        background-color: white;
        &--balance {
            grid-area: balance;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 16px;
            @media screen and (min-width: 768px) and (max-width: 1439.98px) {
                flex-direction: row;
                flex-wrap: wrap;
                & h2.desc {
                    width: 100%;
                }
                & button.btn {
                    width: 200px;
                    height: 50px;
                    margin-top: auto;
                }
            }
            @media screen and (max-width: 767.98px) {
                flex-direction: row;
                flex-wrap: wrap;
                & h2.desc {
                    width: 100%;
                }
            }
        }
        &--cards {
            grid-area: cards;
            display: flex;
            flex-direction: row;
            gap: 16px;
            padding: 0;
            background-color: transparent;
            @media screen and (max-width: 767.98px) {
                flex-direction: column;
            }
        }
        &--active-products {
            grid-area: active-products;
            display: flex;
            flex-direction: column;
            gap: 24px;
            overflow: hidden;
            @media screen and (min-width: 768px) and (max-width: 1439.98px) {
                min-height: 450px;
                overflow: scroll;
            }
            @media screen and (max-width: 767.98px) {
                height: auto;
                min-height: 700px;
                overflow: auto;
            }
        }
    }
    &__title {
        font-size: calc(24px + (48 - 24) * ((100vw - 320px) / (1440 - 320)));
    }
    &__trigger {
        padding: 10px;
        border: none;
    }
    &__wrap {
        width: 100%;
        display: flex;
        position: relative;
        &--column {
            flex-direction: column;
            gap: 9px;
        }
        &--row {
            flex-direction: row;
            align-items: flex-end;
            gap: 16px;
        }
    }
    &__tooltip {
        &--profit {
            display: flex;
            align-items: center;
            gap: 4px;
        }
    }
    &__balance {
        width: 100%;
        display: flex;
        position: relative;
        &--column {
            flex-direction: column;
            gap: 9px;
        }
        &--mobile {
            display: none;
            @media screen and (max-width: 767.98px) {
                display: flex;
                margin-top: 20px;
            }
        }
        @media screen and (min-width: 768px) and (max-width: 1439.98px) {
            width: auto;
            justify-content: space-between;
        }
    }
    &__card {
        width: 100%;
        flex: 1 1 calc(100% / 3 - 16px);
    }
    &__card-status {
        width: 100%;
        padding: 6px;
        display: flex;
        align-items: center;
        justify-content: center;
        &--activated {
            background-color: var(--accident-primary-opacity);
            color: var(--light-secondary);
        }
        &--activation {
            background-color: var(--accident-primary);
            color: var(--light-primary);
        }
        &--msg {
            background-color: var(--accident-primary);
            color: var(--light-primary);
            &.hide {
                display: none;
            }
        }
    }
    &__card-title {
        width: 100%;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        &--passive {
            background-color: var(--success-color-opacity);
            color: var(--middle-primary);
        }
        &--active {
            background-color: var(--success-color-opacity);
            color: var(--dark-primary);
        }
    }
    &__card-info {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 24px 16px;
        background-color: white;
        & p.desc {
            text-decoration: underline;
        }
        @media screen and (max-width: 767.98px) {
            flex-direction: row;
            flex-wrap: wrap;
        }
        &--row {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            gap: 16px;
            padding: 0;
        }
        &--column {
            display: flex;
            flex-direction: column;
            gap: 6px;
            padding: 0;
            @media screen and (max-width: 767.98px) {
                flex: 1 1 calc(100% / 3 - 16px);
            }
        }
        &--noactive {
            & p.desc {
                opacity: 0.5;
            }
            & img.img {
                opacity: 0.5;
                width: 20px;
                height: 20px;
                object-fit: contain;
            }
        }
    }
    &__card-currency {
        position: relative;
        height: 20px;
        & img.img {
            width: 20px;
            height: 20px;
            object-fit: contain;
            position: absolute;
            &:nth-child(2) {
                left: 15px;
            }
            &:nth-child(3) {
                left: 30px;
            }
            &:nth-child(4) {
                left: 45px;
            }
        }
    }
    &__a-products {
        &--header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 24px;
        }
        &--btn {
            display: flex;
            align-items: center;
            gap: 6px;
            max-width: 110px;
        }
        &--wrap {
            width: 100%;
            overflow: hidden;
            overflow-y: scroll;
            @media screen and (max-width: 767.98px) {
                display: none;
            }
            @media (orientation: landscape) and (max-height: 574.98px) {
                overflow-x: scroll;
            }
        }
    }
    &__a-products-table {
        width: 100%;
        padding: 3px;
        @media screen and (min-width: 768px) and (max-width: 1439.98px) {
            min-width: 1000px;
        }
    }
    &__a-products-header {
        display: flex;
        align-items: center;
        gap: 16px;
        padding: 0 3px 24px;
        &--left {
            justify-content: flex-start;
            text-align: left;
        }
        &--right {
            justify-content: flex-end;
            text-align: right;
        }
        &--center {
            justify-content: center;
            text-align: center;
        }
    }
    &__a-products-item {
        display: flex;
        align-items: center;
        gap: 16px;
        padding: 0 3px 24px;
        @media screen and (max-width: 767.98px) {
            padding: 0;
            & button.btn {
                min-width: 140px;
            }
        }
        &.hide {
            display: none;
        }
        &--column {
            flex-direction: column;
            gap: 9px;
        }
        &--left {
            justify-content: flex-start;
            text-align: left;
        }
        &--right {
            justify-content: flex-end;
            text-align: right;
        }
        &--center {
            justify-content: center;
            text-align: center;
        }

    }
    &__a-products-btn {
        @media screen and (max-width: 767.98px) {
            padding: 14px;
        }
    }
}
