.notification {
    position: fixed;
    top: 65px;
    right: 200px;
    background-color: white;
    box-shadow: 0px 0px 43.5px 0px rgba(0, 0, 0, 0.08);
    @media screen and (min-width: 768px) and (max-width: 1439.98px) {
        right: 180px;
    }
    @media screen and (max-width: 767.98px) {
        box-shadow: none;
        right: 0;
    }
    @media (orientation: landscape) and (max-width: 991.98px) and (max-height: 344.98px) {
        box-shadow: none;
        right: 0;
    }
    &--empty {
        width: 100%;
        height: 100%;
        max-width: 424px;
        max-height: 380px;
        @media screen and (min-width: 768px) and (max-width: 1439.98px) {
        }
        @media screen and (max-width: 767.98px) {
            width: 100%;
            max-width: 100%;
            height: 100%;
            max-height: calc(100% - 120px);
        }
        @media (orientation: landscape) and (max-width: 991.98px) and (max-height: 449.98px) {
            height: 100%;
            max-height: 325px;
        }
    }
    &--attend {
        width: 100%;
        height: 100%;
        max-width: 424px;
        max-height: 424px;
        @media screen and (min-width: 768px) and (max-width: 1439.98px) {
        }
        @media screen and (max-width: 767.98px) {
            width: 100%;
            max-width: 100%;
            height: 100%;
            max-height: calc(100% - 120px);
        }
        @media (orientation: landscape) and (max-width: 991.98px) and (max-height: 449.98px) {
            height: 100%;
            max-height: 325px;
        }
    }
    &--toast {
        width: 100%;
        height: auto;
        max-width: 424px;
        top: 100px;
        right: 20px;
        & #closeToast {
            position: absolute;
            top: 8px;
            right: 8px;
        }
        &.hide {
            display: none;
        }
        @media screen and (min-width: 768px) and (max-width: 1439.98px) {
            max-width: 424px;
        }
        @media screen and (max-width: 767.98px) {
            max-width: 90%;
        }
        @media (orientation: landscape) and (max-width: 991.98px) and (max-height: 767.98px) {
            max-width: 424px;
        }
    }
    &.hide {
        display: none;
    }
    &__header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px;
        background-color: white;
    }
    &__footer {
        padding: 0 16px 16px;
    }
    &__content {
        width: 100%;
        height: calc(100% - 54px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 24px;
        &--empty {
            padding: 30px;
            @media screen and (min-width: 768px) and (max-width: 1439.98px) {
                padding: 16px;
            }
            @media screen and (max-width: 767.98px) {
                width: 100%;
                height: calc(100vh - 120px);
            }
            @media (orientation: landscape) and (max-width: 991.98px) and (max-height: 449.98px) {
                width: 100%;
                max-width: 100%;
                height: 100%;
                max-height: calc(100% - 50px);
                overflow-y: scroll;
            }
        }
        &--attend {
            padding: 0;
            @media screen and (min-width: 768px) and (max-width: 1439.98px) {
                padding: 0;
            }
            @media screen and (max-width: 767.98px) {
                width: 100%;
                height: calc(100vh - 120px);
            }
            @media (orientation: landscape) and (max-width: 991.98px) and (max-height: 449.98px) {
                width: 100%;
                max-width: 100%;
                height: 100%;
                max-height: calc(100% - 50px);
                overflow-y: scroll;
            }
        }
        &--wrap {
            display: flex;
            flex-direction: column;
            gap: 8px;
            text-align: center;
        }
    }
    &__icon {
        cursor: pointer;
        &--large {
            width: 64px;
            height: 64px;
            padding: 11px;
            background-color: var(--accident-primary-opacity);
            cursor: default;
        }
        &--middle {
            width: 32px;
            height: 32px;
            padding: 6px;
            background-color: var(--accident-primary-opacity);
        }
    }
    &__list {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 4px;
        @media screen and (max-width: 767.98px) {
            justify-content: flex-start;
        }
        @media (orientation: landscape) and (max-width: 991.98px) and (max-height: 449.98px) {
            justify-content: flex-start;
        }
    }
    &__item {
        width: 100%;
        height: 100%;
        &.new {
            background-color: var(--light-primary);
        }
        &:hover {
            background-color: var(--light-primary);
        }
        @media screen and (max-width: 767.98px) {
            height: auto;
        }
        @media (orientation: landscape) and (max-width: 991.98px) and (max-height: 449.98px) {
            height: auto;
        }
    }
    &__link {
        width: 100%;
        height: 100%;
        padding: 16px;
        cursor: pointer;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 12px;
    }
    &__status {
        width: 100%;
        max-width: 54px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 8px;
        & .desc {
            position: relative;
            bottom: 2px;
            &.hide {
                display: none;
            }
        }
    }
    &__info {
        width: 70%;
        display: flex;
        flex-direction: column;
        gap: 6px;
        margin-right: auto;
    }
}
