.post {
    width: 100%;
    min-width: 100%;
    max-width: 400px;
    min-height: auto;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    gap: 0;
    padding: 0;
    position: relative;
    @media screen and (max-width: 767.98px) {
        max-width: 300px;
        & hr {
            display: none;
        }
    }
    @media (orientation: landscape) and (max-height: 594.98px) {
        min-width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: auto;
        & hr {
            display: flex;
        }
    }
    @media (orientation: portrait) and (max-width: 374.98px) {
        max-width: 100%;
        min-width: 100%;
    }
    &__header {
        width: 100%;
        padding: 24px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: white;
        gap: 16px;
        @media (orientation: landscape) and (max-height: 574.98px) {
            width: 100%;
        }
        &--center {
            justify-content: center;
        }
    }
    &__img {
        position: relative;
        & .btn {
            & img {
                width: 16px;
                height: 16px;
            }
        }
        @media (orientation: landscape) and (max-height: 574.98px) {
            width: 35%;
            & .img {
                width: 100%;
                height: 100%;
                & img {
                    width: 100%;
                    height: auto;
                    object-fit: contain;
                }
            }
            & .btn {
                & img {
                    display: none;
                }
            }
        }
        @media (orientation: landscape) and (max-height: 375.98px) {
            width: 50%;
        }
        @media (orientation: portrait) and (max-width: 374.98px) {
            z-index: 55;
            & .btn {
                z-index: 99;
            }
        }
    }
    &__footer {
        padding: 24px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--dark-primary);
        gap: 16px;
        @media (orientation: landscape) and (max-height: 574.98px) {
            width: 65%;
        }
        @media (orientation: landscape) and (max-height: 375.98px) {
            width: 50%;
        }
        @media (orientation: portrait) and (max-width: 374.98px) {
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 56;
        }
    }
    &--mobile {
        &.hide {
            display: none;
        }
    }
    &--desktop {
        &.hide {
            display: flex;
        }
        @media (orientation: portrait) and (max-width: 374.98px) {
            &.hide {
                display: none;
            }
        }
    }
}