.search {
    position: relative;
    @media screen and (min-width: 768px) and (max-width: 1439.98px) {
        margin-right: auto;
    }
    @media screen and (max-width: 767.98px) {
        margin-right: 0;
        order: 1;
        width: 100%;
    }
    &__input {
        width: 100%;
        padding: 16px 20px 16px 48px;
        background-color: white;
        border: 1px solid var(--accident-primary-opacity);
        position: relative;
        font-size: calc(16px + (16 - 16) * ((100vw - 320px) / (1440 - 320)));
        z-index: 1;
        &::placeholder {
            font-size: calc(16px + (16 - 16) * ((100vw - 320px) / (1440 - 320)));
            color: var(--light-secondary);
        }
    }
    &__btn {
        background-color: transparent;
        border: none;
        cursor: pointer;
        &--reset {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 16px;
            z-index: 55;
        }
    }
    &__icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 16px;
        z-index: 55;
    }
}
